classification-multi/whoisit/*.h5
classification-multi/whoisit/dataset/
crop_face/dataset/train/
crop_face/dataset/target/
face_key/utility/crop_face/dataset/train/
face_key/utility/crop_face/dataset/target/
face_key/simple_face_recognition/models/shape_predictor_68_face_landmarks.dat
face_key/models/shape_predictor_68_face_landmarks.dat
opencv_technics/back.mp4
cpp/Project1/.vs/Project1/v16/ipch
cpp/Project1/x64/Release/*.avi
cpp/Project1/x64/Release/opencv_world450.dll
opencv_technics/*.avi
opencv_technics/*.mp4
opencv_technics/googlenet
opencv_technics/yolo_v3
sort/input/
sort/output/
sort/yolo-coco/*.weights
